//- build:js(app) scripts/components.js
script(type='text/javascript' src='/lib/jquery/dist/jquery.js')
script(type='text/javascript' src='/lib/handlebars/handlebars.runtime.js')
script(type='text/javascript' src='/lib/ember/ember.js')
script(type='text/javascript' src='/lib/ember-data-shim/ember-data.js')
//- endbuild

//- build:js(.tmp) scripts/templates.js
script(type='text/javascript' src='/.tmp/scripts/compiled-templates.js')
//- endbuild

//- build:js(.tmp) scripts/main.js
script(type='text/javascript' src='/.tmp/scripts/combined-scripts.js')
//- endbuild

//- build:js scripts/plugins.js
script(type='text/javascript' src='/lib/momentjs/moment.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/affix.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/alert.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/dropdown.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/tooltip.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/modal.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/transition.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/button.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/popover.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/carousel.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/scrollspy.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/collapse.js')
script(type='text/javascript' src='/lib/bootstrap-sass/vendor/assets/javascripts/bootsrtap/tab.js')
//- endbuild

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')