extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    .form-group
      label.control-label.col-sm-2(for='email') Email
      .col-sm-10
        input.form-control#email(type='text', name="email", placeholder='Email')

    .form-group
      label.control-label.col-sm-2(for='password') Password
      .controls
        input.form-control.col-sm-10#password(type='password', name="password", placeholder='Password')

    .form-actions.sm-offset-2
      button.btn.btn-primary(type='submit') Sign in
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/signup") Sign up
